[worker]
version = "develop"
instance_type = "medium"

[avs]
gateway_url = "ws://gateway.test-distributed-query.test.distributed-query.io:80"
issuer = "issuer"
worker_id = "worker_id"
lagr_keystore = "lagr_keystore.json"

[prometheus]
port = 9090

[public_params]
# Where to store params
dir = "./zkmr_params"
checksum_expected_local_path = "/tmp/expected_checksums.txt"
# Parameters common directory
url = "https://pub-6209c09bbc5e412a9708e493c57edbc9.r2.dev"
checksum_url = "https://pub-6209c09bbc5e412a9708e493c57edbc9.r2.dev/public_params.hash"
skip_checksum = false
skip_store = false

[public_params.preprocessing_params]
# Parameters name in S3 and file name where it's will be stored
file = "preprocessing_params.bin"

[public_params.query_params]
# Parameters name in S3 and file name where it's will be stored
file = "query_params.bin"

[public_params.groth16_assets]
# Parameters name in S3 and file name where it's will be stored
circuit_file = "STORAGE_QUERY2__groth16_assets__circuit.bin"
# Parameters name in S3 and file name where it's will be stored
r1cs_file = "STORAGE_QUERY2__groth16_assets__r1cs.bin"
# Parameters name in S3 and file name where it's will be stored
pk_file = "STORAGE_QUERY2__groth16_assets__pk.bin"
