[workspace]
resolver = "2"
members = [
    "lgn-auth",
    "lgn-messages",
    "lgn-provers",
    "lgn-worker"
]

[workspace.dependencies]
mp2_common = { git = "ssh://git@github.com/Lagrange-Labs/mapreduce-plonky2.git" }
mp2_v1 = { git = "ssh://git@github.com/Lagrange-Labs/mapreduce-plonky2.git" }
verifiable-db = { git = "ssh://git@github.com/Lagrange-Labs/mapreduce-plonky2.git" }
parsil = { git = "ssh://git@github.com/Lagrange-Labs/mapreduce-plonky2.git" }

mr_plonky2_circuits = { git = "https://github.com/Lagrange-Labs/Euclid-database.git" }
groth16_framework = { git = "https://github.com/Lagrange-Labs/Euclid-database.git" }

[patch.crates-io]
plonky2 = { git = "https://github.com/Lagrange-Labs/plonky2", branch = "upstream" }
plonky2_field = { git = "https://github.com/Lagrange-Labs/plonky2", branch = "upstream" }
