[package]
name = "lgn-provers"
version = "0.1.0"
edition = "2021"

[dependencies]
alloy = { version = "0.2.0", features = [
    "contract",
    "node-bindings",
    "providers",
    "network",
    "signer-local",
    "sol-types",
    "rpc",
    "rpc-types",
    "consensus",
    "rlp",
    "transports",
    "transport-http",
    "reqwest",
] }
anyhow = { version = "1.0.86" }
bincode = { version = "1.3.3" }
bytes = { version = "1.6.0" }
checksums = { version = "0.9.1" }
ethers = { version = "2.0.14" }
eth_trie = { version = "0.4.0" }
hex = { version = "0.4.3" }
lgn-messages = { path = "../lgn-messages" }
metrics = { version = "0.23.0" }
mimalloc = { version = "0.1.39", default-features = false }
rand = { version = "0.8.5" }
reqwest = { version = "0.12.4", features = ["blocking"] }
serde = { version = "1.0.202" }
tracing = { version = "0.1.40" }
tracing-subscriber = { version = "0.3.18", features = ["env-filter", "json"] }
tokio = "1.38.1"

mr_plonky2_circuits = { git = "https://github.com/Lagrange-Labs/Euclid-database.git" }
groth16_framework = { git = "https://github.com/Lagrange-Labs/Euclid-database.git" }

mp2_common = { git = "ssh://git@github.com/Lagrange-Labs/mapreduce-plonky2.git" }
mp2_v1 = { git = "ssh://git@github.com/Lagrange-Labs/mapreduce-plonky2.git" }
verifiable-db = { git = "ssh://git@github.com/Lagrange-Labs/mapreduce-plonky2.git" }

[features]
dummy-prover = []
