[package]
name = "lgn-worker"
version = "1.0.3"
edition = "2021"

[[bin]]
name = "lgn-avs"
path = "bin/avs.rs"

[dependencies]
# The ethers macro `abigen` needs to import ethers as a crate.
anyhow = { version = "1.0.75" }
async-trait = { version = "0.1.74" }
backtrace = { version = "0.3.71" }
bincode = { version = "1.3.3" }
bytes = { version = "1.5.0" }
cfg-if = { version = "1.0.0" }
checksums = { version = "0.9.1" }
clap = { version = "4.4.4", features = [
  "derive",
  "env",
  "help",
  "std",
  "suggestions",
], default-features = false }
config = { version = "0.14.0", features = ["toml"], default-features = false }
elliptic-curve = { version = "0.13.5", default-features = false }
eth-keystore = { version = "0.5.0" }
eth_trie = { git = "https://github.com/nikkolasg/eth-trie.rs" }
# The ethers macro `abigen` needs to import ethers as a crate.
ethers = { git = "https://github.com/Lagrange-Labs/ethers-rs", default-features = false, features = [
  "rustls",
], branch = "get-proof-0x" }
futures-util = { version = "0.3.30" }
hex = { version = "0.4.3" }
hmac = { version = "0.12.1" }
jwt = { version = "0.16.0" }
k256 = { version = "0.13.1", default-features = false, features = [
  "ecdsa",
  "std",
] }
lazy-static-include = { version = "3.2.1" }
lgn-auth = { path = "../lgn-auth" }
lgn-messages = { path = "../lgn-messages" }
lgn-provers = { path = "../lgn-provers"}
metrics = { version = "0.23.0" }
metrics-exporter-prometheus = { version = "0.15.0" }
mimalloc = { version = "0.1.39", default-features = false }
rand = { version = "0.8.5", default-features = false, features = [
  "std",
  "std_rng",
  "getrandom",
  "min_const_gen",
] }
redact = { version = "0.1", features = ["serde"] }
reqwest = { version = "0.12.4", features = ["blocking"] }
rpassword = { version = "7.3.1" }
serde = { version = "1.0.192" }
serde_derive = { version = "1.0.192" }
serde_json = { version = "1.0.116" }
sha2 = { version = "0.10.8" }
thiserror = { version = "1.0.61" }
tokio = { version = "1.32.0", features = ["rt-multi-thread", "macros"] }
tracing = { version = "0.1.40" }
tracing-subscriber = { version = "0.3.18", features = ["env-filter", "json"] }
tungstenite = { version = "0.21.0", features = ["rustls"] }
url = { version = "2.5.0" }
